body {
    background-image: url('white-texture.jpg');
    background-repeat: repeat;
    background-size: 5%;
  }

  h3 {
    font: bold 'Century Gothic', sans-serif;
  }
  .w3-card-4 {
    background-color: #f3f3f3;
  }
  p {
    text-align: center;
    font: "Calibri"
  }
  