body {
  background-color: #f2f2f2;
}

h3 {
  font: bold "Century Gothic", sans-serif;
}
.w3-card-4 {
  background-color: #f3f3f3;
}
p {
  text-align: center;
  font-family: Calibri, sans-serif;
}
.w3-row {
  display: flex;
  flex-wrap: wrap;
}

.w3-col {
  flex: 0 0 auto;
}

.w3-col.s3 {
  /* width: 16.666666666666664%; take up 2 grid spaces */
  display: flex;
  align-items: center; /* center the icon vertically */
  justify-content: right; /* center the icon horizontally */
  padding: 10px;
  height: 100px; /* make the icon take up 90% of the div height */
}
.icon {
  height: 80px; /* stretch the icon to fill the div */
  object-fit: contain; /* preserve the aspect ratio of the icon while stretching it */
}

.w3-col.s8 {
  /* width: 83.33333333333334%; take up 10 grid spaces */
  display: flex;
  border-left: 2px solid #000; /* add a border on the left side of the span element */
  border-bottom: 2px solid #000; /* add a border on the bottom side of the span element */
  /* height: 90%; make the icon take up 90% of the div height */
  align-items: center; /* center the icon vertically */
}

span {
  padding: 10px; /* add some padding to the span element */
  font-family: Calibri, sans-serif;
}
